*.suo
VS2010_NET35/BarcodeRender/bin/
VS2010_NET35/BarcodeRender/obj/Debug/BarcodeRender.BarcodePanel.resources
VS2010_NET35/BarcodeRender/obj/
VS2010_NET35/packages/
VS2010_NET35/SampleMvcSite/bin/
VS2010_NET35/SampleMvcSite/obj/
VS2010_NET35/SampleSite/bin/
VS2010_NET35/SampleSite/obj/
VS2010_NET35/Zen.Barcode.Core/bin/
VS2010_NET35/Zen.Barcode.Core/obj/
VS2010_NET35/Zen.Barcode.Design/bin/
VS2010_NET35/Zen.Barcode.Design/obj/
VS2010_NET35/Zen.Barcode.SSRS.Design/obj/
VS2010_NET35/Zen.Barcode.SSRS/obj/
VS2010_NET35/Zen.Barcode.Web.Mvc/bin/
VS2010_NET35/Zen.Barcode.Web.Mvc/obj/
VS2010_NET35/Zen.Barcode.Web/bin/
VS2010_NET35/Zen.Barcode.Web/obj/
