<?xml version="1.0"?>

<configuration>

	<appSettings/>
	<connectionStrings/>

	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" />
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<!--
			For systems running under IIS prior to v7.0 and for IIS 7.0 
			sites running in classic mode
					 
			The .Barcode file extension will need to be associated with ASP.NET
			from within IIS Manager and the "Check if the file exists" checkbox
			must be cleared.
			-->
			<add verb="GET" path="*.Barcode" type="Zen.Barcode.Web.BarcodeImageHandler, Zen.Barcode.Web, Culture=Neutral, Version=2.0.3.0, PublicKeyToken=b5ae55aa76d2d9de" />
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="barcode" namespace="Zen.Barcode.Web" assembly="Zen.Barcode.Web, Culture=Neutral, Version=2.0.3.0, PublicKeyToken=b5ae55aa76d2d9de" />
			</controls>
		</pages>
	</system.web>
</configuration>
